html, body{ font-family: 'PT Serif', serif; }
html{position: relative; }
body{font-size: 16px;}
/*body { margin: 0 0 400px; }*/
/*footer { position: absolute; bottom: 0; min-height: 400px; width: 100%;}*/

html, body{height: 100%;}
.wrapper{min-height: 100%; padding-bottom: 150px;}
footer{height: 150px;  margin-top: -150px;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}
:focus {outline: none;}

.navbar{margin: 0;}
.navbar-toggle .icon-bar {background: #ff0066}

/*p*/
h1, h2, h3, h4{color: #000}
hr.style{margin: 0; padding: 0; height: 38px; background: url('../img/bg_tricots-blue.png'); }

/*btn*/
.btn{height: 40px; border-radius: 20px; padding:7px 40px; font-size: 18px; text-decoration: none; transition:.5s;}
.btn-border{background: #fff; color: #ff0066; border:1px solid #ff0066;}
.btn-border:hover{background: #ff0066; color: #fff; border-color:#fff}
.btn-solid{background: #ff0066; color: #fff; text-transform:uppercase; }
.btn-solid:hover{background: #fff; color: #ff0066; }


/*heager*/
header .main-logo{margin-bottom: -50px; margin-top:15px;}
header .block-contact{margin-top: 20px; float: right;}
header a{color: #000; }
header .block-contact p span{display: inline-block; width: 150px;}
header .nav{margin-top: 10px;}
header .nav>li>a:focus, .nav>li>a:hover {background-color: #ff0066; color: #fff;}
header .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
.picto {display: inline-block; margin-right: 10px; width: 26px; height: 26px; vertical-align: middle; }
.picto-phone{background-image: url('../img/icon/picto-phone.png');}
.picto-mail{background-image: url('../img/icon/picto-mail.png');}

/*slider*/
#slider{}
#slider p{font-size: 18px;}
#slider {  background: url('../img/bg/bg-50perc.jpg') no-repeat; background-size: cover; }
#slider .left-block{padding: 120px 30px;}
#slider .left-block .title{ font-size: 40px; line-height: 34px; height: 100%;}
#slider .left-block .title span{color:#ff0066; }
#slider .right-block{padding-top: 120px}
#slider .right-block .top-line{background:#ff0066; color: #fff; margin: 0 2px; padding: 4px 0;}
#slider .right-block .slide{padding: 0 2px;}
#slider .right-block .slide p{position: absolute; width: 100%; padding: 4px 0; margin: 0; bottom: 0; background-color: rgba(0, 0, 0, .3); }
#slider .right-block img{width: 100%;}
@media (max-width: 768px) {
  #slider .right-block{padding: 20px 0;} 
}
#slider .carousel-indicators {bottom: -45px;}
#slider .carousel-indicators .active {background-color:#ff0066;}
#slider .carousel-indicators li{margin: 1px 15px;}
#slider .carousel-indicators li:before {
  content: ''; position: absolute; margin-left: -20px; margin-top: -1px;
display: inline-block; 
width: 10px;
height: 10px;
cursor: pointer;
background-color: #000\9;
background-color: rgba(0,0,0,0);
border: 1px solid #fff;
border-radius: 10px;
}
#slider .carousel-indicators li:after {
  content: ''; position: absolute; margin-left: 9px; margin-top: -1px;
display: inline-block;
width: 10px;
height: 10px;
cursor: pointer;
background-color: #000\9;
background-color: rgba(0,0,0,0);
border: 1px solid #fff;
border-radius: 10px;
}
#slider .carousel-indicators li.active:before{background-color:#ff0066; width: 12px; height: 12px; }
#slider .carousel-indicators li.active:after{background-color:#ff0066;width: 12px; height: 12px; }

/*we-service*/
#we-service{padding: 50px 0}
#we-service h1{font-size: 40px}
#we-service p{font-size: 18px;}

/*top-pages*/
#top-pages{padding-bottom: 30px;}

#top-pages .block{ margin-bottom: 20px; border:5px solid #edf2f9; border-radius: 5px; min-height: 250px; overflow: hidden; position: relative; }
#top-pages .block .part{height: 250px;  padding: 0; transition:  1s;}
#top-pages .block .title{position: absolute; padding: 20px; background: #f5f5f5; }
#top-pages .block .title:before{
  content: ''; position: absolute; left: -20px; top: 40px;
  border: 20px solid transparent; border-right: 20px solid #edf2f9; border-left: 0;
}
#top-pages .block:hover .title:before{border: none;}
#top-pages .block .description{padding: 20px; }
#top-pages .block .description p{ height: 160px; overflow: hidden; color:#ff0066 }
#top-pages .block .image img{width: 100%; height: 100%; margin-left: 0; }
#top-pages .block .title{padding: 20px; background: #edf2f9;
  -moz-transform: translateX(100%); 
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%); 
  -o-transform: translateX(100%);
  transform:translateX(100%);
   
}
#top-pages .block:hover .title{
  -moz-transform: translateX(0); 
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0); 
  -o-transform: translateX(0);
  transform:translateX(0); 
}
@media (max-width: 768px) { 
  #top-pages .block .title:before{
    left: 40px; top: -40px;
    border: 20px solid transparent; border-bottom: 20px solid #edf2f9;
  }
  #top-pages .block .title{padding: 20px; background: #edf2f9;
    -moz-transform: translateY(100%); 
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%); 
    -o-transform: translateY(100%);
    transform:translateY(100%);
     
  }
}


/*advice*/
#advice{padding-bottom: 50px;}
#advice h2{ font-size: 40px;}
#advice p{font-size: 18px;}
#advice em{color: #ff0066; font-style:normal;}
#advice .block{padding: 5px;}
#advice .block p{background-color: #edf2f9; height: 250px; padding: 30px;}

/*footer*/
footer {background: #ff0066; color: #fff; padding-bottom: 40px;}

/*pages*/


/*page-collect*/
#collect .galleries{background:#edf2f9; padding: 30px 0 }
#collect img{max-width: 100%;}
#brend-line{background:#edf2f9; }
#brend-line ul{ margin: 0; padding: 0; list-style: none; display: table; width: 100%; border-collapse: collapse;}
#brend-line li{display: table-cell; vertical-align: middle; text-align: center; height: 90px; border: 1px solid; border-width: 0 1px;}
#collect .post-logo{margin-top: 50px; text-align: center;}
#collect .gallery-cell{padding:2px}
#collect .gallery-image{height: 280px; overflow: hidden; position: relative;}
#collect .gallery-image img{width: 100%;}
#collect .gallery-image .description{position: absolute; background: rgba(0,0,0,.6); width: 100%; height: 100%; top: 0; left: 0; padding: 20px; display: none; color: #ccc;}
#collect .gallery-image:hover .description{display: block;}
#collect .gallery-contact{padding-top: 40px; }
#collect .gallery-contact .btn{margin: 0 5%;}